@media (max-width: 900px) {
    
    #secOne {
        grid-template: 
            
            "title" auto
            "presentation" auto
            "register" auto 
            ;
        width: 100%;
        overflow: hidden;
        
    }

    #secOne div  {
        height: 100%;
        width: 50%;
    }

    #secOne img {
        width: 50%;
    }
    
    #secTwo {
        grid-template: 
            "about-me" auto
            "studios" auto
            "laboral-experience" auto;
        
    }

    #secThree {
        grid-template:
    "progress" auto
    "skills" auto;
        margin-top: 50px;
        margin-bottom: 100px;
    }
}