
@font-face {
    font-family: 'Designer';
    src: url(/fonts/Designer.otf);
}
@font-face {
    font-family: 'tommy';
    src: url(/fonts/MADE\ TOMMY\ ExtraBold_PERSONAL\ USE.otf);
}


* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
}

body {
    background-image: url("fondo.png");
}

nav {
    display: grid;
    grid-template: "logo menu boton" 130px /
                    300px 1fr auto;
    background-color: rgba(141, 141, 141, 0.452);
    

}

nav div {
    display: flex;
    justify-content: right;
}
nav img {
    width: 35%;
    border-radius: 100%; 
    margin: 10px 0px 0px 50px;
    box-shadow: 5px 5px 30px black;
}

nav ul {
    list-style-type: none;
    display: flex;
    flex-wrap: nowrap;
    align-self: center;
    margin-bottom: 30px;
}

nav button {
    
    margin: 0px 100px 0px 0px;
    font-size: 1.5rem;
    background: rgb(199, 233, 255);
    width: 50px;
    height: 50px;
    align-self: center;
    margin-left: 10px;
    margin-bottom: 30px;
    border-radius: 10px;
    border: none;
    box-shadow: 5px 5px 30px black;

}
nav button:hover {

    box-shadow: 5px 5px 30px rgb(212, 212, 212);
}



ul li a {
    text-decoration: none;
    margin: 10px;
    font-size: 16px;
    color: rgb(184, 238, 255);
    text-shadow: 5px 5px 10px black;
    font-family: Designer;
    
    
}

ul li a:hover {
    color: rgb(228, 228, 228);
    text-shadow: 5px 5px 10px rgb(221, 221, 221);
    transition: ease-in-out 0.2s;
    font-size: 19px;
    
}

.list-services {
    display: none ;
    flex-direction: column;

}

section {
    display: grid;
    margin: 50px;
    grid-template: "presentation title register" 500px /
    1fr 400px 1fr;
    
    text-align: center;
    gap: 20px;

    
}

section div { 
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section h1 {
    font-family: 'tommy';
    color: rgb(124, 124, 207);
    text-shadow: 2px 2px 1px black; 
    padding: 10px;
    border-radius: 20px 20px 0px 0px;
    background-color: rgba(212, 212, 212, 0.452);
    width: 100%;
}

section p {
    text-align: center;
    width: 100%;
    max-width: 600px;
    padding: 10px;
    font-family: 'Designer';
    font-size: 0.9rem;
    color: rgb(196, 227, 253);
    text-shadow: 2px 2px 1px black;
    margin-top: 10px;
    border-radius: 20px;
    
}

.info-container {
    background-color: rgba(141, 141, 141, 0.452);
    box-shadow: 5px 5px 30px black;
}

.info-container img {
    border-radius: 20px;
    filter: grayscale(60%);
    box-shadow: 5px 5px 30px black;
    height: 50%;
    width: 80%;
    margin-top: 30px;
}



.presentation {
    background-color: rgba(141, 141, 141, 0.452);
    box-shadow: 5px 5px 30px black;
    z-index: 0;
}



.presentation img {
    position: relative;
    width: 99.9%;
    border-radius: 17px;
    bottom: 37px;
    z-index: -1;
    opacity: 70%;
    object-fit: cover;
    
    
}

.register-container {
    background-color: rgba(141, 141, 141, 0.452);
    box-shadow: 5px 5px 30px black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.register-container img {
    width: 30%;
    height: 40%;
    border-radius: 10%;
    margin-top: 70px;
    box-shadow: 5px 5px 30px black;    
}

.register-container a {
    position: relative;
    text-decoration: none;
    color: black;
    background-color: rgb(199, 233, 255);
    font-family: 'Designer';
    border-radius: 10px;
    margin-top: 20px;
    padding: 5px 120px 5px 120px;
    box-shadow: 5px 5px 30px black;    
}

.register-container a:hover {
    background-color: rgb(228, 228, 228);
    color: rgb(145, 145, 145);
}




footer {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    color: rgb(150, 150, 250);
    background-color: rgb(70, 69, 69);
    position: fixed;
    bottom: 0;
    width: 100%;
    
}

footer p {
    margin: 50px;
    font-family: Designer;
}