@font-face {
    font-family: 'Designer';
    src: url(fonts/Designer.otf);
}
@font-face {
    font-family: 'tommy';
    src: url(fonts/MADE\ TOMMY\ ExtraBold_PERSONAL\ USE.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, rgba(44, 62, 80, 0.9), rgba(52, 73, 94, 0.9));
}

.login-container {
    color:white;
    background-color: rgb(92, 92, 155);
    width: 720px;
    margin-top: 100px;
    border-radius: 20px;
    padding: 30px 40px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.login-container:hover {
    background: linear-gradient(135deg, rgba(139, 177, 216, 0.9), rgba(52, 73, 94, 0.9));
    transition: ease-in 0.5s;
    transform: scale(1.05);
}


.login-container h1 {
    font-size: 36px;
    font-family: "tommy";
    text-align: center;
}

.login-container .login {

    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0px 0px 0px;
    
   
}

.login input {
    width: 100%;
    height: 100%;
    background: transparent;
    color: white;
    border: none;
    outline: none;
    border: 2px solid;
    border-radius: 40px;
    font-size: 16px;
    padding: 20px 45px 20px 20px;
    box-shadow: 0px 0px 15px;
    font-weight: 700;
}

.login input::placeholder {
    color: white;
}

.login i {
    
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    
}

.recuerda-check {
    display: flex;
    justify-content: space-between;
    font-size: 14.5;
    margin: 10px 0 0px;

}

.recuerda-check label input {
    accent-color: white;
    margin-right: 3px;
}

.recuerda-check a {
    color: #fff;
    text-decoration: none;
    
}

.recuerda-check a:hover {
    
    text-decoration: underline;
}

.login-container .btn {
    width: 100%;
    height: 45px;
    background: #ffffff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #000000;
    font-weight: 600;
    margin-top: 20px;

}

.login-container .registrate {
    color: #fff;
    margin: 10px;
    margin: 20px 0 15px;

}

.login-container .registrate a {
    color: #fff;
    text-decoration: none;
}

.login-container .registrate a:hover {
    
    text-decoration: underline;
}


