@font-face {
    font-family: 'Designer';
    src: url(../fonts/Designer.otf);
}
@font-face {
    font-family: 'tommy';
    src: url(../fonts/MADE\ TOMMY\ ExtraBold_PERSONAL\ USE.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
    background: linear-gradient(135deg, rgba(125, 185, 245, 0.9), rgba(27, 36, 46, 0.9));
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

form img {
    width: 20%;
    
}

.login-container {
    color: white;
    background-color: rgb(32, 70, 114);
    width: 100%;
    max-width: 60%;
    min-height: 620px;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    padding: 40px;
    
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease;
}

.login-container > * {
    width: 100%;
}

.login-container:hover {
    background: linear-gradient(135deg, rgba(139, 177, 216, 0.9), rgba(52, 73, 94, 0.9));
    transition: ease-in 0.5s;
    transform: scale(1.05);
}


.login-container h1 {
    font-size: 36px;
    font-family: "tommy";
    text-align: center;
}

.login-container .login {

    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0px 0px 0px;
    
   
}

.login input {
    width: 100%;
    height: 100%;
    background: transparent;
    color: white;
    border: none;
    outline: none;
    border: 2px solid;
    border-radius: 40px;
    font-size: 16px;
    padding: 20px 45px 20px 20px;
    box-shadow: 0px 0px 15px;
    font-weight: 700;
}

.login input::placeholder {
    color: white;
}

.login i {
    
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    
}

.recuerda-check {
    display: flex;
    justify-content: space-between;
    font-size: 14.5;
    margin: 10px 0 0px;

}

.recuerda-check label input {
    accent-color: white;
    margin-right: 3px;
}

.recuerda-check a {
    color: #fff;
    text-decoration: none;
    
}

.recuerda-check a:hover {
    
    text-decoration: underline;
}

.login-container .btn {
    width: 100%;
    height: 45px;
    background: #ffffff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #000000;
    font-weight: 600;
    margin-top: 20px;

}

.login-container .registrate {
    color: #fff;
    margin: 10px;
    margin: 20px 0 15px;

}

.login-container .registrate a {
    color: #fff;
    text-decoration: none;
}

.login-container .registrate a:hover {
    
    text-decoration: underline;
}

.card-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    width: 100%;
    max-width: 1200px;
    margin-top: 20px;
}

.card {
    flex: 1;
    min-width: 280px;
    max-width: 350px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    padding: 25px;
    border-radius: 15px;
    margin-bottom: 30px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.card h3 {
    font-family: "Designer";
    font-size: 15px;
    color: rgb(68, 160, 236);
    position: relative;
}

.card h3::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    transition: width 0.3s ease;
    background: linear-gradient(90deg, #3498db, #2980b9);

}

.card h3:hover {
    color: rgba(128, 200, 248, 0.801);
}

.card h3:hover::after {
    width: 75%;
}

.card-info .card:nth-of-type(3) h3:hover::after {
    width: 45%;
}


.card p {
    font-family: "Roboto";
    font-size: 16px;
}

.card:hover {
    transform: translateY(-10px);
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 
        0 15px 35px rgba(0, 0, 0, 0.2),
        0 0 15px rgba(255, 255, 255, 0.1);
}

.card i {
    color: rgb(111, 111, 241);
    font-size: 34px;
}

@media (max-width: 3000px) {
    main {
        padding: 20px;
        gap: 40px;
    }

    .login-container {
        margin-top: 200px;
        min-height: 580px;
        padding: 30px 20px;
    }
}

@media screen and (max-width: 600px) {
    .login-container {
        max-width: 90%; 
    }
    .logo-container img {
        width: 30%;
    }
}